body
{
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p
{
    color: white;
}

h1
{
    color: white;
}

h2
{
    color: white;
}

h3
{
    color: white;
}